// custom var
$color-orange: #fb5e35;
$color-black: #4a4a4a; //74 74 74
$color-white: #fff;
$color-red: red;
$color-green: #32CD32;
$color-pink: #FF6699;
$color-pink-bg: #f0b7c5;

// antd theme
$primary-color: $color-orange;
$info-color: $color-orange;

